.transformation-button {
  position: relative;
  display: inline-flex;
  margin: 20px;
  max-width: 120px;
  max-height: 120px;
}

.transformation-button .check {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.transformation-button__preview {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

